@model Store.BusinessLogicLayer.Models.Users.ChangePasswordModel

@{
    Layout = "~/_Layout.cshtml";
}

@{
    <div class="mainContent">
        <h2>Change password</h2>
        <form id="changepasswordForm" class="stardart-font" asp-controller="AdminProfile" asp-action="ChangePassword">
            <div class="form-group">
                <label class="control-label">Current password </label>
                <input name="currentPassword" type="text" asp-for="CurrentPassword" class="form-control stardart-font" /><br />
                <span class="field-validation-error" id="currentPasswordError"></span>
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input name="newPassword" type="text" asp-for="NewPassword" class="form-control stardart-font" /><br />
                <span class="field-validation-error" id="newPasswordError"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Confirm password</label>
                <input name="confirmPassword" type="text" class="form-control stardart-font" /><br />
                <span class="field-validation-error" id="passwordMatchingError"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save changes" class="btn btn-default button" onClick="return checkform();" />
                <input class="button" type="button" value="Cancel" onclick="location.href='@Url.Action("GetProfile", "AdminProfile")'" />
            </div>
        </form>
    </div>
}

@section scripts{
    <script>
        function checkform() {//TODO camelCase pls
            var form = document.getElementById('changepasswordForm');//TODO camelCase pls
            var result = true;

            var exp = new RegExp(new String("((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@@#$%_!%&*]).{8,20})"));

            document.getElementById("currentPasswordError").innerHTML = "";
            document.getElementById("newPasswordError").innerHTML = "";
            document.getElementById("newPasswordError").innerHTML = "";

            if (form.currentPassword.value == "") {
                document.getElementById("currentPasswordError").innerHTML = "Current password requared";//TODO spelling
                result = false;
            }

            if (form.newPassword.value == "") {
                document.getElementById("newPasswordError").innerHTML = "New password requared";//TODO spelling
                result = false;
            }

            if (form.newPassword.value != "" && !exp.test(form.newPassword.value)) {
                document.getElementById("newPasswordError").innerHTML =
                    "Min password length 8, One ore more lowercase characters, One ore more uppercase characters, Any symbols \"@@#$%_!%&* \", One more digit from 0-9";
                result = false;
            }

            if (form.newPassword.value != form.confirmPassword.value) {
                document.getElementById("passwordMatchingError").innerHTML = "Passwords must be the same";
                result = false;
            }
            return result;
        }</script>
}
