<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="~/Styles/GlobalStyleSheet.css" rel="stylesheet" />
    <link href="~/Styles/NavbarStyleSheet.css" rel="stylesheet" />
    
    @if (IsSectionDefined("AddToHead"))
    {
        @RenderSection("AddToHead", required: false)
    }
</head>

<body>
    <nav>
        @if (ViewContext.RouteData.Values["action"].ToString() != "SignIn")
        {
        <div class="navbar">
            <img src="https://freepngimg.com/thumb/book/5-red-book-png-image-image.png" width="60" style="vertical-align: -5px;">
            <a class="navbar title">
                Book Store
            </a>
            <a class="navbar items" href="../AdminProfile/GetProfile">
                Profile
            </a>
            <a class="navbar items" href="../UsersManagement/GetUsers">
                Users Management
            </a>
            <a class="navbar items" href="../AuthorsManagement/GetAuthors">
                Authors Management
            </a>
            <a class="navbar items" href="../EditionManagement/GetEditions">
                Editions Management
            </a>
            <a class="navbar items" href="../OrdersManagement/GetOrders">
                Orders Management
            </a>
        </div>
        }
    </nav>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>
