@model Store.BusinessLogicLayer.Models.UserSignInModel

@{
    Layout = "~/_Layout.cshtml";
}

@{
    <form class="mainContent" method="post" asp-controller="AdminAccount" asp-action="SignIn">
        <h2> Book store Sign In</h2>
        <div class="stardart-font">
            <div class="validation" asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="Email"></label><br />
                <input asp-for="Email" /><br />
                <span asp-validation-for="Email"></span>

            </div>
            <div>
                <label asp-for="Password"></label><br />
                <input asp-for="Password" /><br />
                <span asp-validation-for="Password"></span>

            </div>
            <div>
                <input class="button" type="submit" value="Sign In" />
            </div>
        </div>
    </form>
}



